branches:
  only:
  - master

language: python

matrix:
  include:
    - os: linux
      sudo: required
      python: 3.6
      env: TOXENV=py36
    - os: osx
      language: generic
      env: TOXENV=py36

sudo: required

install:
  - source install_conda.sh
  #- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
  #   brew update;
  #   brew install gcc;
  #fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
       sudo apt-get install liblapack-dev libblas-dev;
    fi
  - pip install pip --upgrade
  - pip install -q -r requirements.txt --upgrade

script: travis_wait 1000 source ./build_nix.sh

notifications:
  email:
    recipients:
      - shyuep@gmail.com
    on_success: change
    on_failure: always
